# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/eshop-front/dist

# dependencies
/eshop-front/node_modules


/eshop-backend/node_modules
/eshop-backend/.env
/eshop-backend/.prettierrc


# System Files
.DS_Store
Thumbs.db
